.border-1 {
    border-width: var( --border-width-1);
    border-style: solid;
}

.border-2 {
    border-width: var(--border-width-2);
    border-style: dashed;
}

.border-3 {
    border-width: var(--border-width-2);
    border-style: solid;
}

.border-2:hover {
    border-color: var(--color-grey-3);
}

.radius-1 {
    border-radius: var(--radius-1);
}

.radius-2 {
    border-radius: var(--radius-2);
}