/*COLORS*/
.color-brand-1 {
    color: var(--color-brand-1);
}

.color-grey-1 {
    color: var(--color-grey-1);
}

.color-grey-2 {
    color: var(--color-grey-2);
}

.color-white {
    color: var(--color-mode);
}

/*BACKGROUNDS*/
.bg-brand-1 {
    background-color: var(--color-brand-1);
}

button.bg-brand-1:hover {
    background-color: var(--color-brand-2);
}

.bg-brand-2 {
    background-color: var(--color-brand-2);
}

.bg-white {
    background-color: var(--color-mode);
}

.border-grey-lighter:hover:hover,
.border-grey-lighter:hover:active,
.border-grey-darker:hover {
    border-color: var(--color-brand-1);
}

.bg-white.border-grey-lighter:hover,
.bg-white.border-grey-lighter:active {
    background-color: var(--color-brand-3);
    color: var(--color-brand-1);
}

.bg-grey-4 {
    background-color: var(--color-grey-4);
}

.bg-grey-5 {
    background-color: var(--color-grey-5);
}

main .bg-grey-5:hover {
    background-color: var(--color-grey-4);
}

.bg-opacity {
    background-color: var(--color-grey-1-opacity-5);
}

/*BORDERS*/
.border-grey-darker {
    border-color: var(--color-grey-3);
}

.border-grey-lighter {
    border-color: var(--color-grey-4);
}

.border-grey-lighter {
    border-color: var(--color-grey-5);
}

.border-brand-1 {
    border-color: var(--color-brand-1);
}