@media (min-width: 700px) {
    .container {
        max-width: 43rem;
        margin: 0 auto;
    }

    main {
        width: 100%;
    }

    .header-inner-wrapper {
        align-items: center;
        flex-direction: row;
    }

    .value-type-wrapper {
        align-items: center;
    }

    .value-type-buttons,
    .value-type-wrapper {
        flex-direction: row;
    }

    .value-type-buttons,
    .button-group {
        width: fit-content;
    }

    .financial-summary {
        flex-direction: row;
        justify-content: space-between;
    }

    button {
        flex-grow: 0;
    }
}

@media (min-width: 310px) {
    .pd-inline-1 {
        padding-inline: var(--spacing-3);
    }
}