.modal {
    animation: toggleModal var(--animation-duration) var(--animation-type);
    max-width: 23.75rem;
    margin: var(--spacing-2);
    height: fit-content;
    gap: 1.563rem;
    padding: 1.5rem;
    width: 100%;
}

.modal 
.button-grey {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    padding-block: 0.438rem var(--spacing-3);
}

.modal
p.text-1 {
    font-weight: var(--font-weight-3);
}

.modal
.title-2 {
    font-weight: var(--font-weight-1); 
}

.close-button {
    border: none;
    font-family: var(--font-family-2);
    flex-grow: 0;
    height: 2.188rem;
    width: 1.875rem;
}

.modal
input {
    box-sizing: border-box;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
    height: 2.75rem;
    padding-block: 0.719rem;
    padding-inline-start: 2.813rem;
    padding-inline-end: var(--spacing-4);
    outline: none;
}

.modal
button {
    font-size: var(--font-size-3);
}

.value-type-wrapper button,
.button-group button {
    flex-grow: 1;
}

.d-none {
    display: none;
}


@keyframes toggleModal {
    0% {
        transform: translateY(-250px);
    }

    100% {
        transform: translateX(0);
    }
}